html,
body,
#app {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #2b4b6b;
  min-width: 1024px;
}

.el-breadcrumb {
  margin-bottom: 15px;
}

.el-card {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15) !important;
}

.el-table {
  font-size: 12px;
  margin-top: 15px;
}

.el-pagination {
  margin-top: 15px;
}
